
@media print {
  body * {
    visibility: hidden;
  }
  .modal,
  .modal * {
    visibility: hidden;
  }
  #print-content, #print-content * {
    visibility: visible;
  }
  #print-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
  }
  .receipt-content,
.receipt-content * {
  color: #000000 !important;
  border-color: #000000 !important;
}

.receipt-content table,
.receipt-content th,
.receipt-content td {
  border-color: #000000 !important;
}
}
